---
import Card from "../Card.astro";
import { LINKS } from "@/lib/constants";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="empty">
  <div class="flex h-full w-full flex-col">
    <div>
      <p class="mt-2 text-sm text-muted-foreground"></p>
    </div>
  </div>
</Card>
