---
import Card from '../Card.astro'
import { buttonVariants } from '@/components/ui/button'
import { EXPERIENCE } from '@/lib/constants'
---

<Card
  colSpan="lg:col-span-1 md:col-span-2"
  rowSpan="lg:row-span-2 md:row-span-1"
  title="experience"
>
  <div class="mt-2">
    {
      EXPERIENCE.map((exp) => (
        <div class="py-2">
          <h3 class="text-lg font-semibold text-primary">{exp.position}</h3>
          <a
            class={`text-sm text-primary pl-0 ${buttonVariants({ variant: 'link' })}`}
            href={exp?.link ?? ''}
          >
            {exp.company}
          </a>
          <p class="text-sm text-muted-foreground">
            {exp.start} - {exp.end}
          </p>
        </div>
      ))
    }
    <a href="/work" class={`pl-0 ${buttonVariants({ variant: 'link' })}`}>
      View More
    </a>
  </div>
</Card>
