---
import Card from '../Card.astro'
import { Button, buttonVariants } from '@/components/ui/button'
import { LINKS } from '@/lib/constants'
import { Linkedin, Github, Mail } from 'lucide-react'
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-2" title="welcome">
  <div class="flex h-full w-full mt-2">
    <div class="flex flex-col justify-between gap-4 md:max-h-[350px]">
      <div class="flex h-full flex-col">
        <!-- <h6 class="m-0 text-sm font-light text-gray-500">welcome</h6> -->
        <p class="m-0 text-xl font-light text-primary">
          Hi, I'm <b class="font-bold">Kacper Wójtowicz</b>, a web developer
          with three years of experience in designing, developing, and
          maintaining web applications. I specialize in frontend technologies
          while continuously expanding my skills in backend development,
          networking, and cloud. My ambition is to grow into a full-stack
          developer. I value effective teamwork and collaboration, while outside
          of work I develop my technical skills in a self-built homelab and
          enhance discipline and focus through kickboxing trainings.
        </p>
      </div>
      <div class="flex gap-4 pb-6">
        <a
          href={LINKS.github}
          aria-label="github profile"
          target="_blank"
          class={buttonVariants({ variant: 'default', size: 'icon' })}
        >
          <Github />
          <span class="sr-only">GitHub Profile</span>
        </a>
        <a
          href={LINKS.linkedin}
          aria-label="linkedin profile"
          target="_blank"
          class={buttonVariants({ variant: 'default', size: 'icon' })}
        >
          <Linkedin />
          <span class="sr-only">Linkedin Profile</span>
        </a>
        <a
          href={`mailto:${LINKS.mail}`}
          aria-label="mail profile"
          class={buttonVariants({ variant: 'default', size: 'icon' })}
        >
          <Mail />
          <span class="sr-only">Email contact</span>
        </a>
      </div>
    </div>
  </div>
</Card>
