---
import Card from "../Card.astro";
import Pulse from "../Pulse.astro";
---

<Card colSpan="md:col-span-2 lg:col-span-1" rowSpan="md:row-span-1" title="now">
  <div class="absolute top-6 right-6">
    <Pulse />
  </div>
  <div class="mt-2 flex w-fit flex-col items-start">
    <div class="py-2">
      <h2 class="text-sm text-gray-500">Professional</h2>
      <h3 class="text-lg font-semibold text-primary">Open to work</h3>
    </div>
    <div class="py-2">
      <h2 class="text-sm text-gray-500">Education</h2>
      <h3 class="text-sm font-semibold text-primary">
        Earning Bachelor in Management at Cracow University of Economics
      </h3>
    </div>
    <div class="py-2">
      <h2 class="text-sm text-gray-500">Private</h2>
      <h3 class="text-sm font-semibold text-primary">
        Constantly improving my homelab
      </h3>
    </div>
  </div>
</Card>
