---
import Image from "astro/components/Image.astro";
import Card from "../Card.astro";
import imageOfMe from "@/assets/me.jpg";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="photo">
  <div class="flex justify-center items-center h-full w-full">
    <Image
      width="200"
      height="300"
      src={imageOfMe}
      class="object-cover pointer-events-none select-none rounded-xl"
      alt="Kacper Wojtowicz"
      loading="eager"
    />
  </div>
</Card>
