---
import BaseLayout from "@/layouts/BaseLayout.astro";

import fetchApi from "@/lib/strapi";
import type Project from "@/interfaces/project";
import Card from "@/components/Card.astro";
import Image from "astro/components/Image.astro";

const projects = await fetchApi<Project[]>({
  endpoint: "projects?populate=*", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response
});
---

<BaseLayout title="Portfolio" description="Projects that I did">
  <main
    class="relative mx-auto grid w-full max-w-6xl gap-2 px-2 overflow-hidden grid-cols-2 grid-rows-2 sm:gap-2 sm:px-4 md:gap-3 md:px-6 lg:gap-4"
  >
    {
      projects.map((project: Project) => (
        <Card
          colSpan="col-span-2 md:col-span-1"
          rowSpan="md:row-span-1"
          title={project?.title}
          href={`/projects/${project?.slug}/`}
        >
          {/* <div class="flex flex-col gap-y-0.5 px-5 py-4">
                <h1 class="text-lg font-medium">{project?.title}</h1>
              </div> */}
          <div class="flex mt-2 justify-center items-center h-full w-full">
            <Image
              width="600"
              height="400"
              alt={`project ${project?.title}`}
              src={
                import.meta.env.STRAPI_URL +
                project?.image[0].formats.medium.url
              }
              class="object-cover pointer-events-none select-none rounded-md"
              loading="eager"
            />
          </div>
        </Card>
      ))
    }
  </main>
</BaseLayout>
