---
import { ClientRouter } from 'astro:transitions'
import HeadSEO from '@/components/HeadSEO.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

interface Props {
  title?: string | undefined
  description?: string | undefined
}

const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} />
    <ClientRouter />
  </head>
  <body class="h-min-screen bg-background font-sans antialiased">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
